*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
#cabecera_principal{
    background: url(../imagenes/p.jpg) 100% fixed;
   height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
#contorno_menu{
    margin-top: -33%;
    height: 40px;
    margin-left: 80px;

}
li{
     border: 1px solid black;
    border-radius: 5px;
}
.menu,li,a{
    text-decoration: none;
    list-style: none;
    padding: 6px;
   
}
ul{
    display: flex;
    
}
li:hover{
    background-color: cyan;
}
#info{
    background:rgba(0,0,0,0.8);
    width: 30%;
    margin-top: 20%;
    margin-left: 90px;
    color: white;
}
.info_interno{
    padding: 5px 25px;
}
.imagen{
    width: 30%;
    height: 200px;
    margin-top: 40px;
    float: right;
    margin-left: 16px;
    margin-right: 20px;

}
#articulo{
    width: 40%;
    margin-top: 20%;
    margin-left: 40px;
    text-align: justify;
    
}
#articulo1{
    width: 40%;
    float: right;
    margin-top: -110px;
    margin-right: 17px;
    margin-right: 17px;
    text-align: justify;
    
}
#contorno_Form{
    text-align: center;
    background: rgba(0,0,0,0.5);
    width: 40%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}
.form{
    padding: 30px;
}
input{
    margin: 10px;
}
label{
    color: white;
    padding-right: 10px
}
.input{
    text-align: center;
    
}
.correo{
    margin-right: 11px;
}
.boton{
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    cursor: pointer;
    
}
.boton:hover{
 
    background-color:cyan;
}
#footer{
    margin-top: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 10px 10px 30px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#buscanos{
    margin: 15px;
}
.segundo_articulo{
    margin-bottom: 100px;    
}
#soyarticulo{
    margin: 10px 13px;
    background:rgba(252, 241, 241, 0.1);
    border-radius: 5px;
    box-shadow: 10px 10px 40px;
    width: 30%;
    float: left;
    top: 0;
    text-align: center;
    margin-bottom: 40px; 
    margin-right: 30px ;
    color:blue;
}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-top: 20px;
}
